
@import "./fonts.css";

.mainContainer{
  margin-left: 200px;
  margin-right: 200px;
}

.navigationBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

p{
  font-size: 16px;
  font-family: "Inter";
}
