
@import "./fonts.css";

.mainContainer{
  margin-left: 200px;
  margin-right: 200px;
}

.navigationBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.headerText{
  font-size: 16px;
  font-family: "Inter";
}

.headerTextBold{
  font-size: 20px;
  font-family: "Inter";
  font-weight: bold;
}

.mainBody{
  display: flex;
  justify-content: space-between;
}

.inputDeck{
  width: 33%;
  border-radius: 8px;
}

.testHands{
  width: 66%;
  background-color: rgb(198, 198, 198);
  border-radius: 8px;
}


.deckInputDiv{
  width: 98%;
  height: 700px;
  resize: none;
  border-radius: 8px;
}