
@import "./fonts.css";

.mainContainer{
  margin-left: 200px;
  margin-right: 200px;
}

.navigationBar{
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.headerText{
  font-size: 16px;
  font-family: "Inter";
}

.mainText{
  font-size: 16px;
  font-family: "Inter";
}

.headerTextBold{
  font-size: 20px;
  font-family: "Inter";
}

.divider{
  width: 100%;
  height: 1px;
  background-color: rgb(224, 224, 224);
}

.mainBody{
  display: flex;
  justify-content: space-between;
}

.inputDeck{
  width: 33%;
  border-radius: 8px;
}

.testHands{
  width: 100%;
  border-radius: 8px;
  margin-left: 32px;
}

.deckInputDiv{
  width: 98%;
  height: 560px;
  resize: none;
  border-radius: 8px;
  font-family: "Inter";
}

.generateButton{
  
}

.cardRow {
  display: flex;
  gap: 16px; /* Adds space between each card */
  flex-wrap: wrap; /* Allows cards to wrap to the next line if needed */
  margin-bottom: 16px;
}

.card {
  background-color: #a9a9a9;
  border-radius: 8px;
  padding: 16px;
  width: 108px;
  text-align:start;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  height: 184px;
  font-family: "Inter";
}

.scrollTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease;
}

.scrollTopButton:hover {
  background-color: #0056b3;
}

.topRow{
  display: flex;
  align-items: center;
}

@media ((max-height: 920px) and (min-height: 800px)) {
  .deckInputDiv{
    width: 98%;
    height: 660px;
    resize: none;
    border-radius: 8px;
    font-family: "Inter";
  }
}

@media ((max-width: 1500px) and (min-width: 1300px)) {
  .card {
    background-color: #a9a9a9;
    border-radius: 8px;
    padding: 16px;
    width: 92px;
    text-align:start;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    height: 172px;
    font-family: "Inter";
  }
}