
@import "./fonts.css";

.mainContainer{
  margin-left: 200px;
  margin-right: 200px;
}

.navigationBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

p{
  font-size: 16px;
  font-family: "Inter";
}

.mainBody{
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
}

.inputDeck{
  width: 33%;
  background-color: red;

}

.testHands{
  width: 66%;
  background-color: blue;
  height: 100px;
}
